#node 
node_modules
BlogAppV2/node_modules
bloagapp/node_modules

#docs
BlogAppV2/documentation
BlogAppV2/BU

#some other shit
bloagapp/assets_OLD
bloagapp/assets_OLD2
bloagapp/assets_TryintToTS
bloagapp/jsonServices
./vscode
.DS_Store
.DS_Store
